In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O 
import os

for dirname, _, filenames in os.walk('../inputs'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/mnt/c/Users/denad/OneDrive/Documents/GitHub/uefa-championship-analysis/venv/lib/python3.10/site-packages/numpy/_core/getlimits.py:545: UserWarning: Signature b'\x00\xd0\xcc\xcc\xcc\xcc\xcc\xcc\xfb\xbf\x00\x00\x00\x00\x00\x00' for <class 'numpy.longdouble'> does not match any known type: falling back to type probe function.
This warnings indicates broken support for the dtype!
  machar = _get_machar(dtype)

../inputs/euro_coaches.csv
../inputs/euro_lineups.csv
../inputs/euro_summary.csv
../inputs/logos/ALB.png
../inputs/logos/AUT.png
../inputs/logos/BEL.png
../inputs/logos/BUL.png
../inputs/logos/CIS.png
../inputs/logos/CRO.png
../inputs/logos/CZE.png
../inputs/logos/DEN.png
../inputs/logos/ENG.png
../inputs/logos/ESP.png
../inputs/logos/FIN.png
../inputs/logos/FRA.png
../inputs/logos/FRG.png
../inputs/logos/GER.png
../inputs/logos/GRE.png
../inputs/logos/HUN.png
../inputs/logos/IRL.png
../inputs/logos/ISL.png
../inputs/logos/ITA.png
../inputs/logos/LVA.png
../inputs/logos/MKD.png
../inputs/logos/NED.png
../inputs/logos/NIR.png
../inputs/logos/NOR.png
../inputs/logos/POL.png
../inputs/logos/POR.png
../inputs/logos/ROU.png
../inputs/logos/SCO.png
../inputs/logos/SUI.png
../inputs/logos/SVK.png
../inputs/logos/SVN.png
../inputs/logos/SWE.png
../inputs/logos/TCH.png
../inputs/logos/TUR.png
../inputs/logos/UKR.png
../inputs/logos/WAL.png
../inputs/logos/YUG.png
../inputs/matches/friendly_2021-2024.csv
../inputs/matches/qualifying_1960-2024.csv
../inputs/matches/euro/1960.csv
../inputs/matches/euro/1964.csv
../inputs/matches/euro/1968.csv
../inputs/matches/euro/1972.csv
../inputs/matches/euro/1976.csv
../inputs/matches/euro/1980.csv
../inputs/matches/euro/1984.csv
../inputs/matches/euro/1988.csv
../inputs/matches/euro/1992.csv
../inputs/matches/euro/1996.csv
../inputs/matches/euro/2000.csv
../inputs/matches/euro/2004.csv
../inputs/matches/euro/2008.csv
../inputs/matches/euro/2012.csv
../inputs/matches/euro/2016.csv
../inputs/matches/euro/2020.csv
../inputs/matches/euro/2024.csv
../inputs/matches/nations/2019.csv
../inputs/matches/nations/2021.csv
../inputs/matches/nations/2023.csv

In [4]:
matches_path = '../inputs/matches/euro'

euro_2020 = pd.read_csv(f'{matches_path}/2020.csv')
euro_2020.head()

,id_match,home_team,away_team,home_team_code,away_team_code,home_score,away_score,home_penalty,away_penalty,home_score_total,...,penalties_missed,penalties,red_cards,game_referees,stadium_city,stadium_name,stadium_name_media,stadium_name_official,stadium_name_event,stadium_name_sponsor
0,2024491,Italy,England,ITA,ENG,1.0,1.0,3.0,2.0,1.0,...,NaN,"[{'phase': 'PENALTY', 'time': {}, 'internation...",NaN,"[{'name': 'Hugh Dallas', 'role': 'REFEREE_OBSE...",London,Wembley Stadium,Wembley Stadium,Wembley Stadium,Wembley Stadium,Wembley Stadium
1,2024490,England,Denmark,ENG,DEN,1.0,1.0,NaN,NaN,2.0,...,"[{'phase': 'EXTRA_TIME_FIRST_HALF', 'time': {'...",NaN,NaN,"[{'name': 'Hessel Steegstra', 'role': 'ASSISTA...",London,Wembley Stadium,Wembley Stadium,Wembley Stadium,Wembley Stadium,Wembley Stadium
2,2024489,Italy,Spain,ITA,ESP,1.0,1.0,4.0,2.0,1.0,...,NaN,"[{'phase': 'PENALTY', 'time': {}, 'internation...",NaN,"[{'name': 'Felix Brych', 'role': 'REFEREE', 'n...",London,Wembley Stadium,Wembley Stadium,Wembley Stadium,Wembley Stadium,Wembley Stadium
3,2024487,Ukraine,England,UKR,ENG,0.0,4.0,NaN,NaN,0.0,...,NaN,NaN,NaN,"[{'name': 'Mark Borsch', 'role': 'ASSISTANT_RE...",Rome,Olimpico in Rome,Stadio Olimpico,Stadio Olimpico,Olimpico in Rome,Stadio Olimpico
4,2024488,Czechia,Denmark,CZE,DEN,1.0,2.0,NaN,NaN,1.0,...,NaN,NaN,NaN,"[{'name': 'Massimiliano Irrati', 'role': 'ASSI...",Baku,Baku Olympic Stadium,Baku Olympic Stadium,Baku Olympic Stadium,Baku Olympic Stadium,Baku Olympic Stadium

In [7]:
euro_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_match               51 non-null     int64
 1   home_team              51 non-null     object
 2   away_team              51 non-null     object
 3   home_team_code         51 non-null     object
 4   away_team_code         51 non-null     object
 5   home_score             51 non-null     float64
 6   away_score             51 non-null     float64
 7   home_penalty           4 non-null      float64
 8   away_penalty           4 non-null      float64
 9   home_score_total       51 non-null     float64
 10  away_score_total       51 non-null     float64
 11  winner                 43 non-null     object
 12  winner_reason          51 non-null     object
 13  year                   51 non-null     int64
 14  date                   51 non-null     object
 15  date_time              51 non-null     object
 16  utc_offset_hours       51 non-null     float64
 17  group_name             36 non-null     object
 18  matchday_name          51 non-null     object
 19  condition_humidity     48 non-null     float64
 20  condition_pitch        44 non-null     object
 21  condition_temperature  48 non-null     float64
 22  condition_weather      48 non-null     object
 23  condition_wind_speed   48 non-null     float64
 24  status                 51 non-null     object
 25  type                   51 non-null     object
 26  round                  51 non-null     object
 27  round_mode             51 non-null     object
 28  match_attendance       51 non-null     float64
 29  stadium_id             51 non-null     int64
 30  stadium_country_code   51 non-null     object
 31  stadium_capacity       51 non-null     float64
 32  stadium_latitude       51 non-null     float64
 33  stadium_longitude      51 non-null     float64
 34  stadium_pitch_length   51 non-null     float64
 35  stadium_pitch_width    51 non-null     float64
 36  goals                  49 non-null     object
 37  penalties_missed       6 non-null      object
 38  penalties              4 non-null      object
 39  red_cards              6 non-null      object
 40  game_referees          51 non-null     object
 41  stadium_city           51 non-null     object
 42  stadium_name           51 non-null     object
 43  stadium_name_media     51 non-null     object
 44  stadium_name_official  51 non-null     object
 45  stadium_name_event     51 non-null     object
 46  stadium_name_sponsor   51 non-null     object
dtypes: float64(16), int64(3), object(28)
memory usage: 18.9+ KB

In [8]:
euro_2020['winner_reason']

0      WIN_ON_PENALTIES
1     WIN_ON_EXTRA_TIME
2      WIN_ON_PENALTIES
3           WIN_REGULAR
4           WIN_REGULAR
5           WIN_REGULAR
6      WIN_ON_PENALTIES
7     WIN_ON_EXTRA_TIME
8           WIN_REGULAR
9      WIN_ON_PENALTIES
10    WIN_ON_EXTRA_TIME
11          WIN_REGULAR
12          WIN_REGULAR
13    WIN_ON_EXTRA_TIME
14          WIN_REGULAR
15                 DRAW
16                 DRAW
17          WIN_REGULAR
18          WIN_REGULAR
19          WIN_REGULAR
20          WIN_REGULAR
21          WIN_REGULAR
22          WIN_REGULAR
23          WIN_REGULAR
24          WIN_REGULAR
25          WIN_REGULAR
26          WIN_REGULAR
27                 DRAW
28          WIN_REGULAR
29                 DRAW
30                 DRAW
31                 DRAW
32          WIN_REGULAR
33          WIN_REGULAR
34          WIN_REGULAR
35          WIN_REGULAR
36          WIN_REGULAR
37          WIN_REGULAR
38          WIN_REGULAR
39          WIN_REGULAR
40          WIN_REGULAR
41                 DRAW
42          WIN_REGULAR
43          WIN_REGULAR
44          WIN_REGULAR
45          WIN_REGULAR
46          WIN_REGULAR
47          WIN_REGULAR
48          WIN_REGULAR
49                 DRAW
50          WIN_REGULAR
Name: winner_reason, dtype: object

In [9]:
euro_1960 = pd.read_csv(f'{matches_path}/1960.csv')
euro_1960.head()

,id_match,home_team,away_team,home_team_code,away_team_code,home_score,away_score,home_penalty,away_penalty,home_score_total,...,penalties_missed,penalties,red_cards,game_referees,stadium_city,stadium_name,stadium_name_media,stadium_name_official,stadium_name_event,stadium_name_sponsor
0,4025,USSR,Yugoslavia,URS,YUG,1.0,1.0,NaN,NaN,2.0,...,NaN,NaN,NaN,[],Paris,Parc des Princes,Parc des Princes,Parc des Princes,Parc des Princes,Parc des Princes
1,4024,Czechoslovakia,France,TCH,FRA,2.0,0.0,NaN,NaN,2.0,...,NaN,NaN,NaN,[],Marseille,Stade de Marseille,Stade de Marseille,Stade de Marseille,Stade de Marseille,Orange VÃ©lodrome
2,4023,Czechoslovakia,USSR,TCH,URS,0.0,3.0,NaN,NaN,0.0,...,NaN,NaN,NaN,[],Marseille,Stade de Marseille,Stade de Marseille,Stade de Marseille,Stade de Marseille,Orange VÃ©lodrome
3,4022,France,Yugoslavia,FRA,YUG,4.0,5.0,NaN,NaN,4.0,...,NaN,NaN,NaN,[],Paris,Parc des Princes,Parc des Princes,Parc des Princes,Parc des Princes,Parc des Princes

In [10]:
euro_1960.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_match               4 non-null      int64
 1   home_team              4 non-null      object
 2   away_team              4 non-null      object
 3   home_team_code         4 non-null      object
 4   away_team_code         4 non-null      object
 5   home_score             4 non-null      float64
 6   away_score             4 non-null      float64
 7   home_penalty           0 non-null      float64
 8   away_penalty           0 non-null      float64
 9   home_score_total       4 non-null      float64
 10  away_score_total       4 non-null      float64
 11  winner                 4 non-null      object
 12  winner_reason          4 non-null      object
 13  year                   4 non-null      int64
 14  date                   4 non-null      object
 15  date_time              4 non-null      object
 16  utc_offset_hours       4 non-null      float64
 17  group_name             0 non-null      float64
 18  matchday_name          4 non-null      int64
 19  condition_humidity     0 non-null      float64
 20  condition_pitch        0 non-null      float64
 21  condition_temperature  0 non-null      float64
 22  condition_weather      0 non-null      float64
 23  condition_wind_speed   0 non-null      float64
 24  status                 4 non-null      object
 25  type                   4 non-null      object
 26  round                  4 non-null      object
 27  round_mode             4 non-null      object
 28  match_attendance       4 non-null      float64
 29  stadium_id             4 non-null      int64
 30  stadium_country_code   4 non-null      object
 31  stadium_capacity       4 non-null      float64
 32  stadium_latitude       4 non-null      float64
 33  stadium_longitude      4 non-null      float64
 34  stadium_pitch_length   4 non-null      float64
 35  stadium_pitch_width    4 non-null      float64
 36  goals                  4 non-null      object
 37  penalties_missed       0 non-null      float64
 38  penalties              0 non-null      float64
 39  red_cards              0 non-null      float64
 40  game_referees          4 non-null      object
 41  stadium_city           4 non-null      object
 42  stadium_name           4 non-null      object
 43  stadium_name_media     4 non-null      object
 44  stadium_name_official  4 non-null      object
 45  stadium_name_event     4 non-null      object
 46  stadium_name_sponsor   4 non-null      object
dtypes: float64(22), int64(4), object(21)
memory usage: 1.6+ KB

In [11]:
# Path to the directory containing the yearly matches CSV files
data_dir = '../inputs/matches/euro/'

# List all CSV files in the directory
csv_files = [f for f in os.listdir(data_dir) if f.endswith('.csv')]

all_matches = pd.DataFrame()

for file in csv_files:
    # Extract the year from the filename (format 'YYYY.csv')
    year = int(file.split('.')[0])
    df = pd.read_csv(os.path.join(data_dir, file))
    
    # Add a new column 'year' to the DataFrame
    df['year'] = year
    
    # Append the DataFrame to the combined DataFrame
    all_matches = pd.concat([all_matches, df], ignore_index=True)

all_matches.to_csv('../data/all_matches.csv', index=False)
all_matches.head()

,id_match,home_team,away_team,home_team_code,away_team_code,home_score,away_score,home_penalty,away_penalty,home_score_total,...,penalties_missed,penalties,red_cards,game_referees,stadium_city,stadium_name,stadium_name_media,stadium_name_official,stadium_name_event,stadium_name_sponsor
0,4025,USSR,Yugoslavia,URS,YUG,1.0,1.0,NaN,NaN,2.0,...,NaN,NaN,NaN,[],Paris,Parc des Princes,Parc des Princes,Parc des Princes,Parc des Princes,Parc des Princes
1,4024,Czechoslovakia,France,TCH,FRA,2.0,0.0,NaN,NaN,2.0,...,NaN,NaN,NaN,[],Marseille,Stade de Marseille,Stade de Marseille,Stade de Marseille,Stade de Marseille,Orange VÃ©lodrome
2,4023,Czechoslovakia,USSR,TCH,URS,0.0,3.0,NaN,NaN,0.0,...,NaN,NaN,NaN,[],Marseille,Stade de Marseille,Stade de Marseille,Stade de Marseille,Stade de Marseille,Orange VÃ©lodrome
3,4022,France,Yugoslavia,FRA,YUG,4.0,5.0,NaN,NaN,4.0,...,NaN,NaN,NaN,[],Paris,Parc des Princes,Parc des Princes,Parc des Princes,Parc des Princes,Parc des Princes
4,3996,Spain,USSR,ESP,URS,2.0,1.0,NaN,NaN,2.0,...,NaN,NaN,NaN,[],Madrid,Estadio Santiago BernabÃ©u,Estadio Santiago BernabÃ©u,Estadio Santiago BernabÃ©u,Estadio Santiago BernabÃ©u,NaN

In [13]:
all_matches.shape

(388, 47)

In [14]:
all_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_match               388 non-null    int64
 1   home_team              388 non-null    object
 2   away_team              388 non-null    object
 3   home_team_code         373 non-null    object
 4   away_team_code         373 non-null    object
 5   home_score             351 non-null    float64
 6   away_score             351 non-null    float64
 7   home_penalty           22 non-null     float64
 8   away_penalty           22 non-null     float64
 9   home_score_total       351 non-null    float64
 10  away_score_total       351 non-null    float64
 11  winner                 285 non-null    object
 12  winner_reason          350 non-null    object
 13  year                   388 non-null    int64
 14  date                   388 non-null    object
 15  date_time              388 non-null    object
 16  utc_offset_hours       388 non-null    float64
 17  group_name             276 non-null    object
 18  matchday_name          388 non-null    object
 19  condition_humidity     191 non-null    float64
 20  condition_pitch        182 non-null    object
 21  condition_temperature  191 non-null    float64
 22  condition_weather      190 non-null    object
 23  condition_wind_speed   191 non-null    float64
 24  status                 388 non-null    object
 25  type                   388 non-null    object
 26  round                  388 non-null    object
 27  round_mode             388 non-null    object
 28  match_attendance       350 non-null    float64
 29  stadium_id             388 non-null    int64
 30  stadium_country_code   388 non-null    object
 31  stadium_capacity       388 non-null    float64
 32  stadium_latitude       388 non-null    float64
 33  stadium_longitude      388 non-null    float64
 34  stadium_pitch_length   388 non-null    float64
 35  stadium_pitch_width    388 non-null    float64
 36  goals                  320 non-null    object
 37  penalties_missed       14 non-null     object
 38  penalties              22 non-null     object
 39  red_cards              40 non-null     object
 40  game_referees          388 non-null    object
 41  stadium_city           388 non-null    object
 42  stadium_name           388 non-null    object
 43  stadium_name_media     388 non-null    object
 44  stadium_name_official  388 non-null    object
 45  stadium_name_event     388 non-null    object
 46  stadium_name_sponsor   383 non-null    object
dtypes: float64(16), int64(3), object(28)
memory usage: 142.6+ KB

In [24]:
# drop all matches that have not taken place yet (referring to 2024)
all_matches = all_matches.loc[all_matches['status'] == 'FINISHED']
all_matches.shape

(350, 47)

In [25]:
all_matches.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 0 to 387
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_match               350 non-null    int64
 1   home_team              350 non-null    object
 2   away_team              350 non-null    object
 3   home_team_code         350 non-null    object
 4   away_team_code         350 non-null    object
 5   home_score             350 non-null    float64
 6   away_score             350 non-null    float64
 7   home_penalty           22 non-null     float64
 8   away_penalty           22 non-null     float64
 9   home_score_total       350 non-null    float64
 10  away_score_total       350 non-null    float64
 11  winner                 285 non-null    object
 12  winner_reason          350 non-null    object
 13  year                   350 non-null    int64
 14  date                   350 non-null    object
 15  date_time              350 non-null    object
 16  utc_offset_hours       350 non-null    float64
 17  group_name             253 non-null    object
 18  matchday_name          350 non-null    object
 19  condition_humidity     190 non-null    float64
 20  condition_pitch        181 non-null    object
 21  condition_temperature  190 non-null    float64
 22  condition_weather      189 non-null    object
 23  condition_wind_speed   190 non-null    float64
 24  status                 350 non-null    object
 25  type                   350 non-null    object
 26  round                  350 non-null    object
 27  round_mode             350 non-null    object
 28  match_attendance       350 non-null    float64
 29  stadium_id             350 non-null    int64
 30  stadium_country_code   350 non-null    object
 31  stadium_capacity       350 non-null    float64
 32  stadium_latitude       350 non-null    float64
 33  stadium_longitude      350 non-null    float64
 34  stadium_pitch_length   350 non-null    float64
 35  stadium_pitch_width    350 non-null    float64
 36  goals                  320 non-null    object
 37  penalties_missed       14 non-null     object
 38  penalties              22 non-null     object
 39  red_cards              40 non-null     object
 40  game_referees          350 non-null    object
 41  stadium_city           350 non-null    object
 42  stadium_name           350 non-null    object
 43  stadium_name_media     350 non-null    object
 44  stadium_name_official  350 non-null    object
 45  stadium_name_event     350 non-null    object
 46  stadium_name_sponsor   345 non-null    object
dtypes: float64(16), int64(3), object(28)
memory usage: 131.2+ KB

### Participants

In [27]:
df_team = all_matches.groupby('year').agg(home=('home_team', list), away=('away_team', list))
df_team['teams'] = df_team.apply(lambda x: list(set(x['home']+x['away'])), axis=1)
df_team['#'] = df_team['teams'].apply(len)


df_team_pivot = df_team['teams'].explode().reset_index().pivot('year', 'teams', 'year').T
df_team_pivot[df_team_pivot > 0] = 1
column_list = sorted(df_team.index, reverse=True)

df_team_pivot['times'] = df_team_pivot.sum(axis=1)
df_team_pivot = df_team_pivot.sort_values(['times']+column_list, ascending=[False]*(len(column_list)+1))

df_team_pivot.columns = [str(col)[:-2]+'\n'+str(col)[-2:] for col in column_list[::-1]] + ['times']
# df_team_pivot.index = [idx.replace(' ', '\n', 1) for idx in df_team_pivot.index]

df_team_pivot.shape

TypeError: DataFrame.pivot() takes 1 positional argument but 4 were given